In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("customer.csv")

In [3]:
df.sample(5)

    age  gender review education purchased
10   98  Female   Good        UG       Yes
16   59    Male   Poor        UG       Yes
47   38  Female   Good        PG       Yes
18   19    Male   Good    School        No
7    60  Female   Poor    School       Yes

*As per this dataset,various categorical values are there, Review & education are ordinal categorical data where we will use ordinal encoder & rest are nominal categorical values. For purchased we will use Label Encoder*

In [4]:
df=df.iloc[:,2:] #just removing, we will not focus on it now

In [5]:
df.head(11)

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:, 0:2], df.iloc[:,-1],test_size=0.2)

In [8]:
X_train.head(5)

     review education
29  Average        UG
38     Good    School
4   Average        UG
42     Good        PG
10     Good        UG

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'] ,['School','UG','PG']])
#2 LISTS ARE PASSED IN ONE LIST
#oe=object
#categories parameter is used so that we can specify order,if we dont use this parameter, then randomly number would be alloted

In [11]:
X_train=oe.fit_transform(X_train)
X_test=oe.fit_transform(X_test)

In [12]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le=LabelEncoder()

In [15]:
y_train=le.fit_transform(y_train)
y_test=le.transform(y_test)

In [16]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [17]:
y_train

array([1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0])